.apropos {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  padding-top: 38px;
}

@media (max-width: 768px) {
  .apropos {
    gap: 1.3em;
    padding-top: 0;
  }
  .apropos .accordion {
    width: 100%;
  }
  .apropos .accordion .label {
    height: 30px;
    font-size: 0.85em;
  }
  .apropos .accordion .content {
    font-size: 0.8em;
  }
}