#footer {
  display: flex;
  height: 187px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  padding-top: 4em;
  padding-bottom: 2em;
}

@media (max-width: 768px) {
  #footer {
    display: flex;
    height: 209px;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 2em;
  }
  #footer p {
    max-width: 134px;
    font-size: 0.8rem;
    text-align: center;
  }
}